/* AboutUs.css */

.about-us {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h2,
h3,
h4 {
  color: #333;
}

p {
  color: #666;
}

.developers-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.developer-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  width: 48%; /* Adjust as needed based on your layout */
  box-sizing: border-box;
}
