@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Arial", sans-serif;
  overflow: hidden;
  background: url("./animated_background.gif") center center fixed;
  background-size: cover;
  animation: moveBackground 10s infinite linear;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
}

.title-screen {
  text-align: center;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
}

h1 {
  font-size: 5rem;
  margin-bottom: 20px;
  font-family: "Pixelify Sans", sans-serif;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

button {
  width: 200px;
  background-color: white;
  padding: 15px 20px;
  margin: 5px;
  margin-bottom: 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1em;
  transition: background-color 0.3s ease-in-out;
  font-family: "Pixelify Sans", sans-serif;
}

button:hover {
  background-color: #2f2f2f;
}

.music-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding-right: 55px;
  background: none;
  border: none;
  cursor: pointer;
}

.music-icon {
  width: 40px;
  height: 40px;
}

.music-button:hover {
  background-color: transparent;
}

/* INSTRUCTIONS */

.instructions {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: #f3f2ed;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  text-align: center;
  font-family: "Pixelify Sans", sans-serif;
}

.close-instructions {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  margin-bottom: 10px;
}

.close-icon {
  width: 30px;
  height: 30px;
}

/* ABOUT US */

.about-us {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* z-index: 1; */
  background-color: #f3f2ed;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Pixelify Sans", sans-serif;
}

.close-button {
  align-self: flex-end;
  cursor: pointer;
  margin-bottom: 10px;

  .close-icon {
    width: 30px;
    height: 30px;
  }
}

h2 {
  color: #333;
  text-align: center;
}

p {
  color: #555;
  text-align: center;
  margin-bottom: 20px;
}

h3 {
  color: #333;
  margin-top: 30px;
}

.developers-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  .developer-card {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
    width: 300px;

    &:hover {
      transform: scale(1.05);
    }

    h4 {
      margin-bottom: 10px;
      color: #333;
    }

    p {
      margin: 0;
      color: #555;
    }
  }
}

/* Exit Prompt */
.exit-prompt {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: #f3f2ed;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  text-align: center;
  font-family: "Pixelify Sans", sans-serif;
}

.close-exit-prompt {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  margin-bottom: 10px;
}

.close-icon {
  width: 30px;
  height: 30px;
}

.exit-prompt-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;

  button {
    background-color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
    transition: background-color 0.3s ease-in-out;
    font-family: "Pixelify Sans", sans-serif;
  }

  button:hover {
    background-color: #2f2f2f;
  }
}
