/* MobileControls.css */
.mobile-button {
  background-color: transparent; /* Override background color */
  padding: 10px; /* Adjust padding as needed */
  margin: 5px;
  border: 1px solid white; /* Add border for better visibility */
  cursor: pointer;
  border-radius: 5px;
  font-size: 1em;
  color: white; /* Set text color to white */
  font-family: "Pixelify Sans", sans-serif;
  transition: background-color 0.3s ease-in-out;
}

.mobile-button:hover {
  background-color: #2f2f2f;
}
